google_api_python_client==2.103.0
google_auth_oauthlib==1.1.0
google-cloud-pubsub==2.18.4
tableauserverclient==0.30
polars==0.20.13
toml==0.10.2
paramiko==3.3.1
ipykernel==6.25.2
XlsxWriter==3.1.9
pyarrow==14.0.0
xlsx2csv==0.8.1
tzdata==2023.3
nbconvert==7.16.2
jupyter==1.0.0